[Unit]
Description=Snapshot ZFS Pool %I
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/zfsnap snapshot -rvzp 'weekly-' -a 2m data
ExecStart=/usr/local/sbin/zfsnap destroy -rv data

# zfsnap1
# ExecStart=/usr/sbin/zfSnap -v -d -a 2m -p 'weekly-' -r %i
